@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300;1,700&display=swap');


*{
    box-sizing: border-box;
}
/*formatacoes body- geral  //////////////////////////////////////////////////////////////////////////////////////*/  
body{
    
    background-image: url("img/neve.jpg") ;
    font-family: "Poppins",sans-serif;
    font-weight: 800;
    margin: 0;
    background-size:cover;
    background-position: center center;
    display: flex;                  /*so com display flex o centrar conteudo funciona*/
    flex-direction: column;
    align-items: center;            /*centra o conteudo horizontalmente*/
    justify-content: center;        /*centra o conteudo */
    min-height: 100vh;              /*responsivo*/

}

/*formatacoes contador //////////////////////////////////////////////////////////////////////////////////////*/
.conteudo-contador{
    display: flex;
    flex-wrap: wrap;
}



.texto{
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 0 2rem;

}

.contador{
    text-align: center;
}

.contador span{
    font-size: 1.2rem;
}

/*estilos do footer */

footer{
    padding-top: 10px;
    color: #11100f;
    clear: both;
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;       
}

footer a{
color: #0d0e0d;  /*cor dos links a preto*/
text-decoration: none;     /*retira o sublinhado dos links*/   
}

footer a:hover{
    color: #2512d3;  /*cor dos links a preto*/
    text-decoration: none;     /*retira o sublinhado dos links*/   
    }

/*formatacoes quiz /////////////////////////////////////////////////////////////////////////////////////*/

.quiz-conteudo{
    background-color: grey;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 0 0 10px 4px black;
    margin: 1rem;
    padding: 1rem;
    max-width: 100%;
}

.quiz-conteudo h1{
    text-align: center;
}
     
.quiz-cabecalho{
    padding: 0rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

div#quiz ul li{
    font-size: 1.1rem;
    margin: 1rem 1rem;
}

div#quiz ul li label{
    cursor: pointer;
}

div#quiz button{
    background-color: #6154d3;
    display: block;
    border: none;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor:pointer;
}

div#quiz button:hover{
    background-color: #2512d3;
}

/*formatacoes mobile //////////////////////////////////////////////////////////////////////////////////////*/

.conteudo-mobile{
    background-color: rgba(49, 63, 75, 0.753);
    width: 30rem;
    /*border-radius: 1rem;*/
   /* padding: 1rem;*/
  /*box-shadow: 0 0 10px 4px #665e5e1a;*/
    box-shadow: 0 0 10px 4px black;
}

div#mobile img{
    max-width: 100%;
}

div#mobile header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

div#mobile header input{
    background-color: #e1e1f1;
    border: none;
    border-radius: 3px;
    padding: 0.2rem 1rem;
}

div#mobile header button{
    background-color: transparent;
    border: none;
    color: antiquewhite;
    font-size: 1.3rem;
    margin-left: 10px;
}

.conteudo-fav{
    background-color: #a3a1ac;
    padding: 1rem;
    text-align: center;
}

.refe-fav{
    display: flex;
    padding: 0;
   /* overflow: auto;*/
    flex-wrap: wrap;
    justify-content: center;
    
}


.refe-fav li span{
    font-size: 0.9rem;
}

.refe-fav li{
    margin: 5px;
    width: 75px;
}

.refe-fav li img{
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px black;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.pop-up{
    border-radius: 3px;
    box-shadow: 0 0 10px 2px black;
    margin: 1.5rem;
    overflow: hidden;
}

.refeicao-header{
    position: relative;
}

.aleatorio  {
    position: absolute;
    top: 1rem;
    background-color: rgb(209, 186, 186);
    padding: .25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.refeicao-header img{
    object-fit: cover;
    height: 240;
    width: 100%;

}

.refeicao-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.refeicao-body h4{
    margin: 0;
}

.refeicao-body .btn-fav{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

.refeicao-body .btn-fav.active{
    color: #2512d3;
}