@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300;1,700&display=swap');


*{
    box-sizing: border-box;
}

body{
    
    background-image: url("neve.jpg") ;
    font-family: "Poppins",sans-serif;
    font-weight: 800;
    margin: 0;
    background-size: cover;
    background-position: center center;
    display: flex;                  /*so com display flex o centrar conteudo funciona*/
    flex-direction: column;
    align-items: center;            /*centra o conteudo horizontalmente*/
    justify-content: center;        /*centra o conteudo */
    min-height: 100vh;              /*responsivo*/

}
.conteudo-contador{
    display: flex;
    flex-wrap: wrap;
}



.texto{
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
    margin: 0 2rem;

}

.contador{
    text-align: center;
}

.contador span{
    font-size: 1.2rem;
}

/*estilos do footer */

footer{
    padding-top: 10px;
    color: #11100f;
    clear: both;
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;       
}

footer a{
color: #0d0e0d;  /*cor dos links a preto*/
text-decoration: none;     /*retira o sublinhado dos links*/   
}

footer a:hover{
    color: #2512d3;  /*cor dos links a preto*/
    text-decoration: none;     /*retira o sublinhado dos links*/   
    }

.quiz-conteudo{
    background-color: grey;
    border-radius: 10px;
    width: 40rem;
    box-shadow: 0 0 10px 4px black;
    margin: 1rem;
    padding: 1rem;
    max-width: 100%;
}

.quiz-conteudo h1{
    text-align: center;
}
     
.quiz-cabecalho{
    padding: 0rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.1rem;
    margin: 1rem 1rem;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #6154d3;
    display: block;
    border: none;
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-weight: 800;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor:pointer;
}

button:hover{
    background-color: #2512d3;
}